<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="shortcut icon" href="../RecursosAmazingEvents/logo-icon.png" type="image/x-icon">
    <title>Past</title>
</head>
<body>
    
    <nav class=" navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="col-4 col-md-2 p-0 contenedor-logo">
                <a href="./index.html"><img class="col-12 col-md-12 logo p-2" src="../RecursosAmazingEvents/Logo-Amazing-Events.png" alt=""></a>
            </div>
          <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa-solid fa-bars boton-menu"></i></span>
          </button>
          <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
            <ul class="navbar-nav gap-1 lista">
              <li class="nav-item">
                <a class="text-center col-md-auto nav-link links" href="./index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="text-center col-md-auto nav-link links" href="#">Upcoming Events</a>
              </li>
              <li class="nav-item">
                <a class="text-center col-md-auto nav-link links" href="./pastEvents.html">Past Events</a>
              </li>
              <li class="nav-item">
                <a class="text-center col-md-auto nav-link links" href="./contact.html">Contact</a>
              </li>
              <li class="nav-item">
                <a class="text-center col-md-auto nav-link links" href="./stats.html">Stats</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

        <main class="main-index">
            <section class=" seccion1">

                <h1 class="text-center py-3 text-light">UPCOMING EVENTS</h1>
                
                <form class="row d-flex align-items-center container p-0 m-0">
                    <div class="form-check col-6 d-flex justify-content-center">
                        <input type="checkbox" name="category1" class="form-check-input" id="check1">
                        <label class="form-check-label ps-3 label-formulario col-8" for="check1">Food Fair</label>
                    </div>
                    <div class="form-check col-6 d-flex justify-content-center">
                        <input type="checkbox" name="category2" class="form-check-input" id="check2">
                        <label class="form-check-label ps-3 label-formulario col-8" for="check2">Museum</label>
                    </div>
                    <div class="form-check col-6 d-flex justify-content-center">
                        <input type="checkbox" name="category3" class="form-check-input" id="check3">
                        <label class="form-check-label ps-3 label-formulario col-8" for="check3">Costume Party</label>
                    </div>
                    <div class="form-check col-6 d-flex justify-content-center">
                        <input type="checkbox" name="category4" class="form-check-input" id="check4">
                        <label class="form-check-label ps-3 label-formulario col-8" for="check4">Music Concert</label>
                    </div>
                    <div class="form-check col-6 d-flex justify-content-center">
                        <input type="checkbox" name="category5" class="form-check-input" id="check5">
                        <label class="form-check-label ps-3 label-formulario col-8" for="check5">Race</label>
                    </div>
                    <div class="form-check col-6 d-flex justify-content-center">
                        <input type="checkbox" name="category5" class="form-check-input" id="check6">
                        <label class="form-check-label ps-3 label-formulario col-8" for="check6">Book Exchange</label>
                    </div>
                    <div class="form-check col-6 d-flex justify-content-center">
                        <input type="checkbox" name="category5" class="form-check-input" id="check7">
                        <label class="form-check-label ps-3 label-formulario col-8" for="check7">Cinema</label>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="addon-wrapping">
                        <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                </form>
            </section>


            <section class="row row-cols-2 container-fluid px-0 mx-auto justify-content-center gap-3 my-4">

                <div class="card col-5">
                    <div class="p-2 tarjeta">
                        <img src="https://i.postimg.cc/ZmD3Xf57/Korean-style.jpg" class="img-tarjeta" alt="...">
                        <div class="">
                          <h5 class="pt-1 titulo-tarjeta">Korean style</h5>
                          <p class="texto-tarjeta">Enjoy the best Korean dishes</p>
                          <p class="text-center mb-0 pt-2">Price: <span class="text-success">$10</span></p>
                          <p class="texto-tarjeta">Date: 2022-08-12</p>
                          <div class="justify-content-center d-flex">
                              <a href="./upComingEvents.html" class="btn btn-danger boton-tarjeta">View more</a>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="card col-5">
                    <div class="p-2 tarjeta">
                        <img src="https://i.postimg.cc/c4C2zXm8/Parisian-Museum.jpg" class="img-tarjeta" alt="...">
                        <div class="">
                          <h5 class="pt-1 titulo-tarjeta">Parisian Museum</h5>
                          <p class="texto-tarjeta">A unique tour in the city of lights</p>
                          <p class="text-center mb-0 pt-2">Price: <span class="text-success">$3500</span></p>
                          <p class="texto-tarjeta">Date: 2022-11-02</p>
                          <div class="justify-content-center d-flex">
                              <a href="./upComingEvents.html" class="btn btn-danger boton-tarjeta">View more</a>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="card col-5">
                    <div class="p-2 tarjeta">
                        <img src="https://i.postimg.cc/RZ9fH4Pr/halloween.jpg" class="img-tarjeta" alt="...">
                        <div class="">
                          <h5 class="pt-1 titulo-tarjeta">Halloween Night</h5>
                          <p class="texto-tarjeta">Come with your scariest costume</p>
                          <p class="text-center mb-0 pt-2">Price: <span class="text-success">$12</span></p>
                          <p class="texto-tarjeta">Date: 2022-02-12</p>
                          <div class="justify-content-center d-flex">
                              <a href="./upComingEvents.html" class="btn btn-danger boton-tarjeta">View more</a>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="card col-5">
                    <div class="p-2 tarjeta">
                        <img src="https://i.postimg.cc/PrMJ0ZMc/Metallica-in-concert.jpg" class="img-tarjeta" alt="...">
                        <div class="">
                          <h5 class="pt-1 titulo-tarjeta">Metallica in concert</h5>
                          <p class="texto-tarjeta">Emblematic band</p>
                          <p class="text-center mb-0 pt-2">Price: <span class="text-success">$150</span></p>
                          <p class="texto-tarjeta">Date: 2022-01-22</p>
                          <div class="justify-content-center d-flex">
                              <a href="./upComingEvents.html" class="btn btn-danger boton-tarjeta">View more</a>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="card col-5">
                    <div class="p-2 tarjeta">
                        <img src="https://i.postimg.cc/KvsSK8cj/Electronic-Fest.jpg" class="img-tarjeta" alt="...">
                        <div class="">
                          <h5 class="pt-1 titulo-tarjeta">15K NY</h5>
                          <p class="texto-tarjeta">We'll be raising funds </p>
                          <p class="text-center mb-0 pt-2">Price: <span class="text-success">$3</span></p>
                          <p class="texto-tarjeta">Date: 2022-03-01</p>
                          <div class="justify-content-center d-flex">
                              <a href="./upComingEvents.html" class="btn btn-danger boton-tarjeta">View more</a>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="card col-5">
                    <div class="p-2 tarjeta">
                        <img src="https://i.postimg.cc/Sst763n6/book1.jpg" class="img-tarjeta" alt="...">
                        <div class="">
                          <h5 class="pt-1 titulo-tarjeta">School's book fair</h5>
                          <p class="texto-tarjeta">Bring your unused school book</p>
                          <p class="text-center mb-0 pt-2">Price: <span class="text-success">$3</span></p>
                          <p class="texto-tarjeta">Date: 2022-10-15</p>
                          <div class="justify-content-center d-flex">
                              <a href="./upComingEvents.html" class="btn btn-danger boton-tarjeta">View more</a>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="card col-5">
                    <div class="p-2 tarjeta">
                        <img src="https://i.postimg.cc/T3C92KTN/scale.jpg" class="img-tarjeta" alt="...">
                        <div class="">
                          <h5 class="pt-1 titulo-tarjeta">Avengers</h5>
                          <p class="texto-tarjeta">Marvel's Avengers Premier in 3d</p>
                          <p class="text-center mb-0 pt-2">Price: <span class="text-success">$250</span></p>
                          <p class="texto-tarjeta">Date: 2022-10-15</p>
                          <div class="justify-content-center d-flex">
                              <a href="./upComingEvents.html" class="btn btn-danger boton-tarjeta">View more</a>
                          </div>
                        </div>
                    </div>
                </div>

            </section>
        <main>

            <footer class=" d-flex justify-content-evenly align-items-center">
                <div >
                    <i class="p-2 rounded-circle text-bg-dark fa-brands fa-instagram"></i>
                    <i class="p-2 rounded-circle text-bg-dark fa-brands fa-facebook"></i>
                    <i class="p-2 rounded-circle text-bg-dark fa-brands fa-whatsapp"></i>
                </div>
                <p class="m-0">COHORT 41</p>
            </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>